@import url('reset.css');
body {
    font-family: 'Roboto', sans-serif;
}

nav.navbar {
    background: #00a2ff;
    border: none;
}

.navbar-brand {
    padding: 10px 10px 10px 10px;
}

button.navbar-toggle {
    border-color: #fade4d !important;
}

button.navbar-toggle:hover {
    background: #495764;
}

.navbar-toggle span {
    background: #fade4d !important;
}
ul.navbar-nav li a {
    color: #fff !important;
    font-weight: bold;
    font-size: 16px;
}

ul.navbar-nav li a:hover {
    color: #fade4d !important;
}

.navbar-brand img {
    width: 100px;
}

.pet_name .highlight {
    background: #fade4d;
}

h1 {
    color: #00a2ff;
    font-size: 42px;
    font-weight: bold;
    text-align: center;
}

.list-page h1 {
    margin-bottom: 30px;
}

.content h3 {
    font-size: 32px;
    margin-bottom: 30px;
    color: #00a2ff;
}

.content {
    margin-top: 100px;
}

form.add-pet,
form.search-pet {
    width: 500px;
    margin: 0 auto;
}

@media screen and (max-width: 767px) {
    form.add-pet {
        width: 100%;
    }
}